# Only local, since fox loads pytorch
torch
torchvision
torchaudio

# For both
sentencepiece
wandb
transformers
torch
joblib
scikit-learn
datasets
GPUtil
numba
seaborn
codecarbon
python-dotenv
colorama
emoji
langdetect
