absl-py @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/abslpy/absl-py-0.13.0
accelerate==0.11.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/alabaster/alabaster-0.7.12
anyio @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/anyio/anyio-3.3.0
appdirs @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/appdirs/appdirs-1.4.4
argon2-cffi @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/argon2cffi/argon2-cffi-20.1.0
asn1crypto @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/asn1crypto/asn1crypto-1.4.0
astor @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/astor/astor-0.8.1
astunparse @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/astunparse/astunparse-1.6.3
async-generator @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/async_generator/async_generator-1.10
async-timeout==4.0.2
atomicwrites @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/atomicwrites/atomicwrites-1.4.0
attrs @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/attrs/attrs-21.2.0
Babel @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/Babel/Babel-2.9.1
backcall @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/backcall/backcall-0.2.0
backports.entry-points-selectable @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/backportsentry_points_selectable/backports.entry_points_selectable-1.1.0
backports.functools-lru-cache @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/backportsfunctools_lru_cache/backports.functools_lru_cache-1.6.4
bcrypt @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/bcrypt/bcrypt-3.2.0
bitstring @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/bitstring/bitstring-3.1.9
bleach @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/bleach/bleach-4.0.0
blist @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/blist/blist-1.3.6
Bottleneck @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/Bottleneck/Bottleneck-1.3.2
CacheControl @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/CacheControl/CacheControl-0.12.6
cachetools @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/cachetools/cachetools-4.2.2
cachy @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/cachy/cachy-0.3.0
certifi @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/certifi/certifi-2021.5.30
cffi @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/cffi/cffi-1.14.6
chardet @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/chardet/chardet-4.0.0
charset-normalizer @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/charsetnormalizer/charset-normalizer-2.0.4
clang @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/clang/clang-5.0
cleo @ file:///storage/software/easybuild/downloads/p/Python/extensions/cleo-0.8.1-py2.py3-none-any.whl
click @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/click/click-8.0.1
clikit @ file:///storage/software/easybuild/downloads/p/Python/extensions/clikit-0.6.2-py2.py3-none-any.whl
colorama @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/colorama/colorama-0.4.4
crashtest @ file:///storage/software/easybuild/downloads/p/Python/extensions/crashtest-0.3.1-py3-none-any.whl
cryptography @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/cryptography/cryptography-3.4.7
cycler==0.11.0
Cython @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/Cython/Cython-0.29.24
datasets==2.4.0
deap @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/deap/deap-1.3.1
debugpy @ file:///storage/software/easybuild/downloads/i/IPython/extensions/debugpy-1.4.1-py2.py3-none-any.whl
decorator @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/decorator/decorator-5.0.9
defusedxml @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/defusedxml/defusedxml-0.7.1
deprecation @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/deprecation/deprecation-2.1.0
dill @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/dill/dill-0.3.3
distlib @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/distlib/distlib-0.3.2
docopt @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/docopt/docopt-0.6.2
docutils @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/docutils/docutils-0.17.1
ecdsa @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/ecdsa/ecdsa-0.17.0
entrypoints==0.3
expecttest @ file:///storage/software/easybuild/build/expecttest/0.1.3/GCCcore-10.3.0/expecttest-0.1.3
filelock @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/filelock/filelock-3.0.12
flatbuffers @ file:///storage/software/easybuild/build/flatbufferspython/2.0/GCCcore-10.3.0/flatbuffers-2.0
flit @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/flit/flit-3.3.0
flit_core @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/flitcore/flit_core-3.3.0
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.7.1
future @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/future/future-0.18.2
gast @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/gast/gast-0.4.0
glob2 @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/glob2/glob2-0.7
google-auth @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/googleauth/google-auth-1.35.0
google-auth-oauthlib @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/googleauthoauthlib/google-auth-oauthlib-0.4.5
google-pasta @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/googlepasta/google-pasta-0.2.0
GPUtil==1.4.0
grpcio @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/grpcio/grpcio-1.39.0
gviz-api @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/gvizapi/gviz_api-1.9.0
h5py @ file:///storage/software/easybuild/build/h5py/3.2.1/foss-2021a/h5py-3.2.1
html5lib @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/html5lib/html5lib-1.1
huggingface-hub==0.8.1
idna @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/idna/idna-3.2
imagesize @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/imagesize/imagesize-1.2.0
importlib-metadata @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/importlib_metadata/importlib_metadata-4.6.3
importlib-resources @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/importlib_resources/importlib_resources-5.2.2
iniconfig @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/iniconfig/iniconfig-1.1.1
intervaltree @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/intervaltree/intervaltree-3.1.0
intreehooks @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/intreehooks/intreehooks-1.0
ipaddress @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/ipaddress/ipaddress-1.0.23
ipykernel @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/ipykernel/ipykernel-6.0.3
ipython @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/ipython/ipython-7.26.0
ipython-genutils @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/ipython_genutils/ipython_genutils-0.2.0
ipywidgets @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/ipywidgets/ipywidgets-7.6.3
jedi @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/jedi/jedi-0.18.0
jeepney @ file:///storage/software/easybuild/downloads/p/Python/extensions/jeepney-0.7.1-py3-none-any.whl
Jinja2 @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/Jinja2/Jinja2-3.0.1
joblib @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/joblib/joblib-1.0.1
json5 @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/json5/json5-0.9.6
jsonschema @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/jsonschema/jsonschema-3.2.0
jupyter-client @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/jupyter_client/jupyter_client-6.1.12
jupyter-core @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/jupyter_core/jupyter_core-4.7.1
jupyter-packaging @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/jupyter_packaging/jupyter_packaging-0.10.4
jupyter-server @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/jupyter_server/jupyter_server-1.10.2
jupyterlab @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/JupyterLab/jupyterlab-3.1.6
jupyterlab-pygments @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/jupyterlab_pygments/jupyterlab_pygments-0.1.2
jupyterlab-server @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/jupyterlab_server/jupyterlab_server-2.7.0
jupyterlab-widgets @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/jupyterlab_widgets/jupyterlab_widgets-1.0.0
keras @ file:///storage/software/easybuild/downloads/t/TensorFlow/extensions/keras-2.6.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/Keras_Preprocessing/Keras_Preprocessing-1.1.2
keyring @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/keyring/keyring-21.2.0
keyrings.alt @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/keyringsalt/keyrings.alt-4.1.0
kiwisolver==1.4.4
liac-arff @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/liacarff/liac-arff-2.5.0
llvmlite==0.39.0
lockfile @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/lockfile/lockfile-0.12.2
Markdown @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/Markdown/Markdown-3.3.4
MarkupSafe @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/MarkupSafe/MarkupSafe-2.0.1
matplotlib==3.5.2
matplotlib-inline @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/matplotlibinline/matplotlib-inline-0.1.2
mistune @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/mistune/mistune-0.8.4
mock @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/mock/mock-4.0.3
more-itertools @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/moreitertools/more-itertools-8.8.0
mpi4py @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/mpi4py/mpi4py-3.0.3
mpmath @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/mpmath/mpmath-1.2.1
msgpack @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/msgpack/msgpack-1.0.2
multidict==6.0.2
multiprocess==0.70.13
nbclassic @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/nbclassic/nbclassic-0.3.1
nbclient @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/nbclient/nbclient-0.5.3
nbconvert @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/nbconvert/nbconvert-6.4.0
nbformat @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/nbformat/nbformat-5.1.3
nest-asyncio @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/nest_asyncio/nest_asyncio-1.5.1
netaddr @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/netaddr/netaddr-0.8.0
netifaces @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/netifaces/netifaces-0.11.0
nose @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/nose/nose-1.3.7
notebook @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/notebook/notebook-6.4.0
numba==0.56.0
numexpr @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/numexpr/numexpr-2.7.3
numpy @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/numpy/numpy-1.20.3
oauthlib @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/oauthlib/oauthlib-3.1.1
opt-einsum @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/opt_einsum/opt_einsum-3.3.0
packaging @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/packaging/packaging-20.9
pandas @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/pandas/pandas-1.2.4
pandocfilters @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/pandocfilters/pandocfilters-1.4.3
paramiko @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/paramiko/paramiko-2.7.2
parso @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/parso/parso-0.8.2
pastel @ file:///storage/software/easybuild/downloads/p/Python/extensions/pastel-0.2.1-py2.py3-none-any.whl
pathlib2 @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pathlib2/pathlib2-2.3.6
paycheck @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/paycheck/paycheck-1.0.2
pbr @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pbr/pbr-5.6.0
pexpect @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pexpect/pexpect-4.8.0
pickleshare @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/pickleshare/pickleshare-0.7.5
Pillow @ file:///storage/software/easybuild/build/Pillow/8.2.0/GCCcore-10.3.0/Pillow-8.2.0
pkginfo @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pkginfo/pkginfo-1.7.1
platformdirs @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/platformdirs/platformdirs-2.2.0
plotly==5.9.0
pluggy @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pluggy/pluggy-0.13.1
poetry @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/poetry/poetry-1.1.7
poetry-core @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/poetrycore/poetry-core-1.0.3
portpicker @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/portpicker/portpicker-1.4.0
prometheus-client @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/prometheus_client/prometheus_client-0.11.0
prompt-toolkit @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/prompt_toolkit/prompt_toolkit-3.0.19
protobuf @ file:///storage/software/easybuild/build/protobufpython/3.17.3/GCCcore-10.3.0/protobuf-3.17.3
psutil @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/psutil/psutil-5.8.0
ptyprocess @ file:///storage/software/easybuild/downloads/p/Python/extensions/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/py/py-1.10.0
py-expression-eval @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/py_expression_eval/py_expression_eval-0.3.13
pyarrow==8.0.0
pyasn1 @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pyasn1/pyasn1-0.4.8
pyasn1-modules @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/pyasn1modules/pyasn1-modules-0.2.8
pybind11 @ file:///storage/software/easybuild/build/pybind11/2.6.2/GCCcore-10.3.0/pybind11-2.6.2
pycparser @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pycparser/pycparser-2.20
pycrypto @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pycrypto/pycrypto-2.6.1
Pygments @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/Pygments/Pygments-2.9.0
pylev @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pylev/pylev-1.4.0
PyNaCl @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/PyNaCl/PyNaCl-1.4.0
pyparsing @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pyparsing/pyparsing-2.4.7
pyrsistent @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pyrsistent/pyrsistent-0.18.0
pytest @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pytest/pytest-6.2.4
python-dateutil @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pythondateutil/python-dateutil-2.8.2
pytoml @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pytoml/pytoml-0.1.21
pytz @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/pytz/pytz-2021.1
PyYAML @ file:///storage/software/easybuild/build/PyYAML/5.4.1/GCCcore-10.3.0/PyYAML-5.4.1
pyzmq @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/pyzmq/pyzmq-22.2.1
regex @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/regex/regex-2021.8.3
requests @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/requests/requests-2.26.0
requests-oauthlib @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/requestsoauthlib/requests-oauthlib-1.3.0
requests-toolbelt @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/requeststoolbelt/requests-toolbelt-0.9.1
requests-unixsocket @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/requestsunixsocket/requests-unixsocket-0.2.0
responses==0.18.0
rsa @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/rsa/rsa-4.7.2
scandir @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/scandir/scandir-1.10.0
scikit-learn==1.1.1
scipy @ file:///storage/software/easybuild/build/SciPybundle/2021.05/foss-2021a/scipy/scipy-1.6.3
SecretStorage @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/SecretStorage/SecretStorage-3.3.1
semantic-version @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/semantic_version/semantic_version-2.8.5
Send2Trash @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/Send2Trash/Send2Trash-1.8.0
sentencepiece==0.1.96
setuptools-rust @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/setuptoolsrust/setuptools-rust-0.12.1
setuptools-scm @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/setuptools_scm/setuptools_scm-6.0.1
shellingham @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/shellingham/shellingham-1.4.0
simplegeneric @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/simplegeneric/simplegeneric-0.8.1
simplejson @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/simplejson/simplejson-3.17.3
six @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/six/six-1.16.0
sklearn==0.0
sniffio @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/sniffio/sniffio-1.2.0
snowballstemmer @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/snowballstemmer/snowballstemmer-2.1.0
sortedcontainers @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sortedcontainers/sortedcontainers-2.4.0
Sphinx @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/Sphinx/Sphinx-4.1.2
sphinx-bootstrap-theme @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxbootstraptheme/sphinx-bootstrap-theme-0.7.1
sphinxcontrib-applehelp @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxcontribapplehelp/sphinxcontrib-applehelp-1.0.2
sphinxcontrib-devhelp @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxcontribdevhelp/sphinxcontrib-devhelp-1.0.2
sphinxcontrib-htmlhelp @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxcontribhtmlhelp/sphinxcontrib-htmlhelp-2.0.0
sphinxcontrib-jsmath @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxcontribjsmath/sphinxcontrib-jsmath-1.0.1
sphinxcontrib-qthelp @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxcontribqthelp/sphinxcontrib-qthelp-1.0.3
sphinxcontrib-serializinghtml @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxcontribserializinghtml/sphinxcontrib-serializinghtml-1.1.5
sphinxcontrib-websupport @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/sphinxcontribwebsupport/sphinxcontrib-websupport-1.2.4
tabulate @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/tabulate/tabulate-0.8.9
tblib @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/tblib/tblib-1.7.0
tenacity==8.0.1
tensorboard @ file:///storage/software/easybuild/downloads/t/TensorFlow/extensions/tensorboard-2.6.0-py3-none-any.whl
tensorboard-data-server @ file:///storage/software/easybuild/downloads/t/TensorFlow/extensions/tensorboard_data_server-0.6.1-py3-none-any.whl
tensorboard-plugin-profile @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/tensorboard_plugin_profile/tensorboard_plugin_profile-2.5.0
tensorboard-plugin-wit @ file:///storage/software/easybuild/downloads/t/TensorFlow/extensions/tensorboard_plugin_wit-1.8.0-py3-none-any.whl
tensorflow @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/tensorflow-2.6.0-cp39-cp39-linux_x86_64.whl
tensorflow-estimator @ file:///storage/software/easybuild/downloads/t/TensorFlow/extensions/tensorflow_estimator-2.6.0-py2.py3-none-any.whl
termcolor @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/termcolor/termcolor-1.1.0
terminado @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/terminado/terminado-0.10.1
testpath==0.5.0
threadpoolctl @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/threadpoolctl/threadpoolctl-2.2.0
tokenizers==0.12.1
toml @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/toml/toml-0.10.2
tomlkit @ file:///storage/software/easybuild/downloads/p/Python/extensions/tomlkit-0.7.2-py2.py3-none-any.whl
torch==1.11.0
tornado @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/tornado/tornado-6.1
tqdm==4.64.0
traitlets @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/traitlets/traitlets-5.0.5
transformers==4.21.0
typing-extensions @ file:///storage/software/easybuild/build/typingextensions/3.10.0.0/GCCcore-10.3.0/typing_extensions-3.10.0.0
ujson @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/ujson/ujson-4.0.2
urllib3 @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/urllib3/urllib3-1.26.6
virtualenv @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/virtualenv/virtualenv-20.7.0
wcwidth @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/wcwidth/wcwidth-0.2.5
webencodings @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/webencodings/webencodings-0.5.1
websocket-client @ file:///storage/software/easybuild/build/JupyterLab/3.1.6/GCCcore-11.2.0/websocketclient/websocket-client-1.2.0
Werkzeug @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/Werkzeug/Werkzeug-2.0.1
widgetsnbextension @ file:///storage/software/easybuild/build/IPython/7.26.0/GCCcore-11.2.0/widgetsnbextension/widgetsnbextension-3.5.1
wrapt @ file:///storage/software/easybuild/build/TensorFlow/2.6.0/foss-2021a-CUDA-11.3.1/wrapt/wrapt-1.12.1
xlrd @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/xlrd/xlrd-2.0.1
xxhash==3.0.0
yarl==1.8.0
zipfile36 @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/zipfile36/zipfile36-0.1.3
zipp @ file:///storage/software/easybuild/build/Python/3.9.6/GCCcore-11.2.0/zipp/zipp-3.5.0
